<template name="messages">
    {{#ionHeaderBar class="light-bg"}}
        <h2 class="title">Messages</h2>
    {{/ionHeaderBar}}
    {{#ionView}}


        {{#ionContent class="app-background"}}


            <div class="padding">
                {{#linkTo route="message2" class="no-border"}}

                    <div class="row light-bg messages-div">


                        <div class="avatar-person">

                            <div class="set-size charts-container">
                                <div class="pie-wrapper progress-30 style-2">
                                    <div class="imgthumb">
                                        <img src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320">
                                    </div>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                    <div class="shadow"></div>
                                </div>
                            </div>
                        </div>


                        <div class="info-person">
                            <div class="row row-name">
                                <div class="col col-80"><h4>Camilia</h4></div>
                                <div class="col col-20"><span class="button button-small status-online">online</span>
                                </div>
                            </div>

                            <p>Awsome! Thanks.</p>

                            <p>0 hours remaining</p>

                        </div>
                    </div>
                {{/linkTo}}
                {{#linkTo route="message" class="no-border"}}

                    <div class="row light-bg messages-div">


                        <div class="avatar-person">

                            <div class="set-size charts-container">
                                <div class="pie-wrapper progress-30 style-2">
                                    <div class="imgthumb">
                                        <img src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320">
                                    </div>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                    <div class="shadow"></div>
                                </div>
                            </div>
                        </div>


                        <div class="info-person">
                            <div class="row row-name">
                                <div class="col col-80"><h4>Sarah</h4></div>
                                <div class="col col-20"><span class="button button-small status-online">online</span>
                                </div>
                            </div>

                            <p class="status">Awsome! Thanks.</p>

                            <p>20 hours remaining <icon class="ion-record icon-record-off app-font-color-green"></icon></p>

                        </div>
                    </div>
                {{/linkTo}}
                {{#linkTo route="message" class="no-border"}}

                    <div class="row light-bg messages-div">


                        <div class="avatar-person">

                            <div class="set-size charts-container">
                                <div class="pie-wrapper progress-30 style-2">
                                    <div class="imgthumb">
                                        <img src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320">
                                    </div>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                    <div class="shadow"></div>
                                </div>
                            </div>
                        </div>


                        <div class="info-person">
                            <div class="row row-name">
                                <div class="col col-80"><h4>Bobby</h4></div>
                                <div class="col col-20"><span class="button button-small status-online">online</span>
                                </div>
                            </div>

                            <p class="status">I saw your profile as you say what are</p>

                            <p>12 hours remaining</p>

                        </div>
                    </div>
                {{/linkTo}}


            </div>


        {{/ionContent}}

    {{/ionView}}


</template>
