<template name="messages">
    {{#ionHeaderBar}}
      <h2 class="title">Messages</h2>
    {{/ionHeaderBar}}

  {{#ionView}}
    

	{{#ionContent class="dark-bg"}}
	

<div class="padding">
	
	
			<div class="row" style="background:#fff;margin-top:10px;border-radius:5px;">
			
			
				<div class="avatar-person">
						
							<div class="set-size charts-container">
							  <div class="pie-wrapper progress-30 style-2">
							    <div class="imgthumb">
							    	<img src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320">
							    	</div>
							    <div class="pie">
							      <div class="left-side half-circle"></div>
							      <div class="right-side half-circle"></div>
							    </div>
							    <div class="shadow"></div>
							  </div>
							</div>
				</div>
			
					  	
					  		<div class="info-person">
												<div class="row">
												  <div class="col col-90"><span clase="name-person" ><a href="/message/1">Pretty</a></span></div>
												  <div class="col col-10"><span class="status-online">online</span></div>
												</div>
						
										    	<div class="row"><div class="col"><span>sssssssssss</span></div></div>
											    <div class="row"><div class="col"><p>2 hours remaining</p></div></div>
											    
										    </div>
					    
						
						
						
				
			</div>
			<div class="row" style="background:#fff;margin-top:10px;border-radius:5px;">
			
				<div class="avatar-person">
							<div class="avatar-person">
						
							<div class="set-size charts-container">
							  <div class="pie-wrapper progress-60 style-2">
							   <div class="imgthumb">
							    	<img src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320">
							    	</div>
							    <div class="pie">
							      <div class="left-side half-circle"></div>
							      <div class="right-side half-circle"></div>
							    </div>
							    <div class="shadow"></div>
							  </div>
							</div>
						</div>
						</div>
			
		
				<div class="info-person">
							<div class="row">
							  <div class="col col-90"><span clase="name-person" >Sarah</span></div>
							  <div class="col col-10"><span class="status-online">online</span></div>
							</div>
	
					    	<div class="row"><div class="col"><span>sssssssssss</span></div></div>
						    <div class="row"><div class="col"><p>2 hours remaining</p></div></div>
						    
					    </div>
		
						
						
				
			</div>
			<div class="row" style="background:#fff;margin-top:10px;border-radius:5px;">
			
				<div class="avatar-person">
							<div class="avatar-person">
						
							<div class="set-size charts-container">
							  <div class="pie-wrapper progress-55 style-2">
							    <div class="imgthumb">
							    	<img src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320">
							    	</div>
							    <div class="pie">
							      <div class="left-side half-circle"></div>
							      <div class="right-side half-circle"></div>
							    </div>
							    <div class="shadow"></div>
							  </div>
							</div>
						</div>
						</div>
			
			
				<div class="info-person">
							<div class="row">
							  <div class="col col-90"><span clase="name-person" >Pretty</span></div>
							  <div class="col col-10"><span class="status-online">online</span></div>
							</div>
	
					    	<div class="row"><div class="col"><span>sssssssssss</span></div></div>
						    <div class="row"><div class="col"><p>2 hours remaining</p></div></div>
						    
	    		</div>
		
						
						
				
			</div>
			
			<div class="row" style="background:#fff;margin-top:10px;border-radius:5px;">
			
				<div class="avatar-person">
							<div class="avatar-person">
						
							<div class="set-size charts-container">
							  <div class="pie-wrapper progress-75 style-2">
							    <div class="imgthumb">
							    	<img src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320">
							    	</div>
							    <div class="pie">
							      <div class="left-side half-circle"></div>
							      <div class="right-side half-circle"></div>
							    </div>
							    <div class="shadow"></div>
							  </div>
							</div>
						</div>
						</div>
			
				<div class="info-person">
							<div class="row">
							  <div class="col col-90"><span clase="name-person" >Pretty</span></div>
							  <div class="col col-10"><span class="status-online">online</span></div>
							</div>
	
					    	<div class="row"><div class="col"><span>sssssssssss</span></div></div>
						    <div class="row"><div class="col"><p>2 hours remaining</p></div></div>
						    
	    		</div>
			
						
						
				
			</div>
	</div>
	

	{{/ionContent}}
    
  {{/ionView}}
  
  
  
  
</template>
