<template name="search">
{{#ionView}}
    

	{{#ionContent}}
	  
	  <div class="info-user {{isActiveRoute regex='search'}}" >
	  	<img class="img-background" src="images/avt.png">
	  </div> 
	  
	  <div class="row user-information">
	  <div>
	  <div class="rating-user" data-ion-modal="ratingModal">
			  	  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
				  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
				  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
				  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
				  <span class="ion-star custom-icon-nocolor" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
				  <span class="app-font-color">(5)</span>
			  	</div>
			  	<span class="user-name">Adam Blackwel</span><br>
			  	<icon class="ion-location app-font-color"></icon><span class="user-address">San Francisco, CA</span>
	  </div>
			  	
	  </div>

			<div style="padding: 0 10px;">
			<button class="button button-block padding-horizontal request-chat app-font-color-white"><icon class="ion-paper-airplane"> Request Chat</icon></button>
		  <div class="intro">
			  <span class="frist-message">W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2015 by Refsnes Data. All Rights Reserved.</span><br>
			  <span class="second-message">
			  "His knowledge and personality are incredibly good. must talk guy! "
			  </span> - Heard administrator
		  </div>
		  <div class="tag-name">
		  	<span>international</span><span>friendship</span><span>health care</span>
		  </div>
	  		<div class="other-picture">
		  		<img src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320">
	  			<img src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320">
	    	</div>
	  
	  </div>
		  
	  
	  	  
	{{/ionContent}}
    
  {{/ionView}}
</template>
