<template name="person">
	<div class="person">
		<div class="top-avatar">
			<img data-ion-modal="profileModal" src="images/avt.png"><br>
			<p>Michael</p>
		</div>
		
		<div class="content-person">

			  <a data-ion-modal="profileModal" href="#" class="item item-icon-left no-border">
			    <i class="icon ion-ios-person-outline"></i>
			    Profile
			  </a>
			
			  <a data-ion-modal="paymentModal" href="#" class="item item-icon-left no-border">
			    <i class="icon ion-card"></i>
			    Payment
			  </a>
			
			  <a data-ion-modal="settingsModal" href="#" class="item item-icon-left no-border">
			    <i class="icon ion-ios-gear-outline"></i>
			    Settings
			  </a>
		</div>
		<div class="bar no-border become-listener">
		  <button class="button button-block button-close" data-ion-menu-close>
			  Become a Listener
			</button>
		</div>	
	</div>
	
	  
</template>
