<template name="person">
	<div class="person">
		<div class="top-avatar">
			<img data-ion-modal="profileModal" src="images/avt.png"><br>
			<p>Michael</p>
		</div>
		
		<div class="content-person">

			  {{#linkTo route="profile" class="item item-icon-left no-border"}}
			    <i class="icon ion-ios-person-outline"></i>
			    Profile
			  {{/linkTo}}
			
			  {{#linkTo route="payment" class="item item-icon-left no-border"}}
			    <i class="icon ion-card"></i>
			    Payment
			  {{/linkTo}}
			

			    {{#linkTo route="settings" class="item item-icon-left no-border"}}<i class="icon ion-ios-gear-outline"></i>
			    Settings{{/linkTo}}
			  
		</div>
		<div class="bar no-border become-listener">
		  <button class="button button-block button-close" data-ion-menu-close>
			  Become a Listener
			</button>
		</div>	
	</div>
	
	  
</template>
