<template name="profileModal">
  {{#ionModal customTemplate=true}}
<div class="header-modal-profile">
          	<icon data-dismiss="modal" class="ion-close-round app-font-color-white" style="font-size:32px;"></icon>
          	<button data-ion-modal="editProfileModal" class="button button-small" style="float:right;">
			  Edit profile
			</button>
          </div>

 <div class="info-user {{isActiveRoute regex='search'}}">
                <img class="img-background" src="images/avt.png">
            </div>

            <div class="row user-information">
                <div>
                    <h4>Adam Blackwel</h4>
                    <icon class="ion-location app-font-color"></icon>
                    <span class="user-address">San Francisco, CA</span>
                </div>

            </div>

            <div class="padding">

               

                <div class="row">
                    <span class="button button-small tag-name">international</span>
                    <span class="button button-small tag-name">friendship</span>
                    <span class="button button-small tag-name">health care</span>

                </div>
               

            </div>
          
  {{/ionModal}}
 
</template>
