<template name="ratingModal">
  {{#ionModal customTemplate="true"}}
  <div class="modal-bg no-header overflow-scroll">
		<span class="header-modal">5 reviews</span>
		<div class="content-modal">
			
				<div class="item item-review">
				
					 <a class="item-avatar2" href="#">
					 <img src="images/avatar.jpg">
					 </a>
			      	<div class="information-reviews">
			      		<span class="name-review">Sasha</span><br>
			      		<span class="time-review">Oct 2015</span>
			      		<div class="rating-user">
						  	  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon-nocolor" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
						  <span class="app-font-color">(5)</span>
						  </div>
			      	</div>
			      	<span class="content-reviews">
			      	Back off, man. I'm a scientist. W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding.
			      	</span>		     
			    
				</div>
				
				<div class="item item-review">
				
					 <a class="item-avatar2" href="#">
					 <img src="images/avatar.jpg">
					 </a>
			      	<div class="information-reviews">
			      		<span class="name-review">Adam</span><br>
			      		<span class="time-review">Aug 2015</span>
			      		<div class="rating-user">
						  	  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon-nocolor" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
						  <span class="app-font-color">(5)</span>
						  </div>
			      	</div>
			      	<span class="content-reviews">
			      	Back off, man. I'm a scientist. W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding.
			      	</span>		     
			    
				</div>
				<div class="item item-review">
				
					 <a class="item-avatar2" href="#">
					 <img src="images/avatar.jpg">
					 </a>
			      	<div class="information-reviews">
			      		<span class="name-review">Jonathan</span><br>
			      		<span class="time-review">Sep 2015</span>
			      		<div class="rating-user">
						  	  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon-nocolor" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
						  <span class="app-font-color">(5)</span>
						  </div>
			      	</div>
			      	<span class="content-reviews">
			      	Back off, man. I'm a scientist. W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding.
			      	</span>		     
			    
				</div>
				<div class="item item-review">
				
					 <a class="item-avatar2" href="#">
					 <img src="images/avatar.jpg">
					 </a>
			      	<div class="information-reviews">
			      		<span class="name-review">Sasha</span><br>
			      		<span class="time-review">Oct 2015</span>
			      		<div class="rating-user">
						  	  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
							  <span class="ion-star custom-icon-nocolor" data-pack="default" data-tags="favorite" style="display: inline-block;"></span>
						  <span class="app-font-color">(5)</span>
						  </div>
			      	</div>
			      	<span class="content-reviews">
			      	Back off, man. I'm a scientist. W3Schools is optimized for learning,<br> testing, and training. Examples might be simplified to improve reading and basic understanding.
			      	</span>		     
			    
				</div>
		   

			
		</div>
		
		
</div>
<div class="bar bar-footer" style="height: 5em">
  <a href="#" data-dismiss="modal" style="display: block;text-align: center;width: 100%;"><icon class="ion-ios-close-outline" style="font-size: 4.4em;color:#000;"></icon></a>
</div>
  {{/ionModal}}
 
</template>
