<template name="requestChatModal"> {{#ionModal
title="Settings" customTemplate=true}}


<div class="content no-header overflow-scroll">
	<div class="top-content">
		<h3>Continue conversation?</h3>
		<p>Look like you are enjoying your conversation!</p>
		<p>Continuing this conversation start at $0.50 minium donation.</p>
	</div>
	<div class="bot-content">
	<icon data-dismiss="modal" class="ion-ios-close-outline icon-request app-font-color-red"></icon>
	<icon data-dismiss="modal" class="ion-ios-checkmark-outline icon-request app-font-color-green"></icon>
	
	</div>


</div>
{{/ionModal}} </template>
