<template name="message2"> {{#ionHeaderBar class="light-bg"}}
<a class="send-message" href="/messages"><button path="messages"
		class="buttons button button-clear back-button pull-left button-entering button-active">
		<i class="icon ion-ios-arrow-back"></i>
	</button></a>
<h2 class="title">
	<icon class="ion-record icon-record app-font-color-green"></icon>
	Camilia
</h2>
{{/ionHeaderBar}} {{#ionView}} {{#ionContent class="message-div"}}


<div class="content padding">
	<ul class="list list-message">
		<li class="item item-message">
			<div>
				<h4 class="time app-font-color-gray">9/25 13:40</h4>
				<img class="profile-pic left"
					src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320" />

				<div class="chat-bubble left">

					<div class="message">Hey there! What's up!?</div>
				</div>
			</div>
		</li>

		<li class="item item-message">
			<div>

				<h4 class="time app-font-color-gray">9/25 13:45</h4>

				<div class="chat-bubble right">

					<div class="message">Which martial art is best to learn for
						the sefl defence?</div>

				</div>

			</div>
		</li>
		<li class="item item-message">
			<div>
				<h4 class="time app-font-color-gray">9/25 13:47</h4>
				<img class="profile-pic left"
					src="http://vignette2.wikia.nocookie.net/epicrapbattlesofhistory/images/f/f3/Best-forum-avatars-i0.png/revision/latest?cb=20150305165320" />

				<div class="chat-bubble left">

					<div class="message">I personally think Krav Maga is the best
						martial art style. Krav Maga is designed to quickly neutralize
						threats. The moves aren't flashly; they're simple and often dirty.</div>
				</div>

			</div>
		</li>
		<li class="item item-message">
			<div>

				<h4 class="time app-font-color-gray">9/25 13:50</h4>

				<div class="chat-bubble right">

					<div class="message">Awesome! Thanks</div>

				</div>

			</div>
		</li>
		<li class="item item-message">
			<div>

				<h4 class="time app-font-color-gray">9/25 13:55</h4>

				<button class="button button-block button-small button-light app-font-color">You finished the conversation</button>

			</div>
		</li>
		<li class="item-message-list"></li>
		<!--<li class="item item-message">
			<div>

				<h4 class="time app-font-color-gray">9/25 13:50</h4>

				<div class="chat-bubble right">

					<div class="message">Awesome! Thanks</div>

				</div>

			</div>
		</li>
		
		<li class="item item-message">
			<div>

				<h4 class="time app-font-color-gray">9/25 13:55</h4>

				<button class="button button-full button-small button-light app-font-color">You finished the conversation</button>

			</div>
		</li>
		
		<li class="item item-message">
			<div>

				<h4 class="time app-font-color-gray">9/25 14:00</h4>
				<div class="rating-chat">
				<h5>fsdfs</h5>
					<img src="images/avt.png" />
					
					<h5>fdsfdsf</h5>
				</div>
				

			</div>
		</li> -->
	</ul>






</div>

{{/ionContent}} {{/ionView}} 

<ion-subfooter-bar
	class="bar bar-subfooter padding message-div">
	<span data-ion-modal="requestChatModal" class="request-chat button button-block button-balanced">Request chat
</span> 
</ion-subfooter-bar>

<div class="bar bar-footer message-bg">
	<div class="row footer-message">
		<div class="col col-10">
			<icon class="ion-plus icon-plus"
				data-action="share-product"></icon>
		</div>

		<div class="col col-70">
			<input type="text" class="txt-startchat" placeholder="send request to start chat">

			<!-- <span class="send-chat button button-block button-outline">
				type here to start chat again </span> -->
		</div>
		<div class="col col-20">
			<icon class="ion-ios-videocam icon-videocam2"></icon>
		</div>
	</div>


</div>

</template>
