<template name="message">
    {{#ionHeaderBar}}
     <a class="send-message" href="/messages"><button path="messages" class="buttons button button-clear back-button pull-left button-entering button-active">
    <i class="icon ion-ios-arrow-back"></i>
  </button></a>
      <h2 class="title">Sarah</h2>
     {{> yield region='nav'}}
    {{/ionHeaderBar}}
	
  {{#ionView}}
    

	{{#ionContent}}
sssssssssssssss

<label class="item item-input">
  <span class="input-label">Username</span>
  <input type="text">
</label>
	{{/ionContent}}
    
  {{/ionView}}
  
  
  
  
</template>
