<template name="payment"> 

<div class="bar bar-header bar-light">
	<button class="button button-clear open-right"><i class="icon ion-ios-arrow-back"></i>		
	</button>

	<h2 class="title">Payment</h2>
</div>


<div class="content open-content app-background has-header overflow-scroll padding">
	<div class="list">

		<a class="item item-left" href="#"> <img class="img-mastercard"
			src="images/master_card.png"> Personal: ****3554
		</a> <a class="item item-icon-left app-font-color-steelblue" href="#">

			<i class="icon ion-plus icon-plus app-font-color-steelblue"></i> Add
			payment
		</a>



	</div>
</div>
</template>
