<template name="carousel">
<div id="carousel">
		<div id="demo-box" class="scroll-content ">1<p>fffdsfsdfsdf</p><p>fffdsfsdfsdf</p><p>aaa</p><p>aaa</p><p>ccc</p></div>
		<div id="demo-box">2</div>
		<div id="demo-box">3</div>
		<div id="demo-box">4</div>
		<div id="demo-box">5</div>
		<div id="demo-box">6</div>
		<div id="demo-box">7</div>
		<div id="demo-box">8</div>
		<div id="demo-box">9</div>
		<div id="demo-box">10</div>
		<div id="demo-box">11</div>
		<div id="demo-box">12</div>
	      </div>		
</template>